/*FORM - reto7*/
form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    margin-top: -470px;
    margin-left: 430px;
    background: whitesmoke;
}

.retoForm{
    border: 1px solid yellow;
    max-width: 100%;
    width: 400px;
    text-align: left;
}



/*estilos de los divs*/
:root{
    --color: blue;
}



.grupo{
    position: relative;
    width: 200px;
}

.grupo input{
    width: 105%;
    border: 1px solid --color;
    background: orange;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}




label{
    color: black;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
}


input{
    width: 100%;
    border: none;
    border-bottom: 2 solid lightblue;
}

.grupo input:focus ~ label{
    color: aqua;
    transform: translateX(10px) translateY(-7px);
}

#Terms-Conditions{
    width: 25px;
    float: left;
    margin-top: 5px;
}


/*ESTILOS PARA MIS VALIDACIONES*/

.feedback{
    max-width: 105%;
    width: 105%;
    background-color: rgba(255,255,255,0.5);
    color: black;
    font-size: 9px;
        visibility: hidden; 
        opacity: 0;
}

.success{
    border: 3px solid lime;
}

.error{
    border: 3px solid red;
}