/*Estilos del reto1 - para su formulario*/
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(0, 85%, 35%, 0.197);
    color:white;
    width: 15%;
    height: 15rem;
    margin-top: 3.88%;
}

.formulario{
    border: 3px solid  #900C3F;
    border-radius: 7px;
}

/*estilos del select del reto 1*/
#op{
    display: flex;
    width: 170px;
    margin-top: -10px;
}

#word{
    width: 170px;
    margin-top: 5px;
}

.p{
    margin-top: 25px;
}


.label_palabra {
    font-size: 20px;
    text-align: center;
}

#btnWord{
    margin-top: 45px;
}

/* .formulario_r5{
    border: solid 1px;
    border-color: yellow;
    background-color: aqua;
    margin-top: -18rem;
    margin-left: 20rem;
    width: 520px;
    float: left;
    background-color: rgba(0, 0, 0, 0.382);
    color: white;
}*/