form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(0, 85%, 35%, 0.197);
    color:white;
    width: 22%;
    height: 20rem;
    margin-top: 3.88%;
}

.form_reto3{
    border: 3px solid  #900C3F;
    border-radius: 7px;
}

#to1, #to2{
    margin-top: -10px;
}

.p1{
    font-size: 20px;
}

.p2, .p3{
    margin-top: 25px;
}

#btnT{
    margin-top: 15px;
}